html, body, .container {
  padding: 0;
  margin: 0;
  height: 100%
}

.container {
  height: 100%;
  width: 100%;

  display: -webkit-flex;
  display: flex;

  -webkit-align-items: center;
  align-items: center;

  -webkit-justify-content: center;
  justify-content: center;
}

/* #game-canvas { */
/*   image-rendering: optimizeSpeed;             /1* Older versions of FF *1/ */
/*   image-rendering: -moz-crisp-edges;          /1* FF 6.0+ *1/ */
/*   image-rendering: -webkit-optimize-contrast; /1* Safari *1/ */
/*   image-rendering: -o-crisp-edges;            /1* OS X & Windows Opera (12.02+) *1/ */
/*   image-rendering: pixelated;                 /1* Awesome future-browsers *1/ */
/*   -ms-interpolation-mode: nearest-neighbor;   /1* IE *1/ */
/* } */
